#indiSec{
    background-image: linear-gradient(to right, #121828,#273356,#121828);
}
.indiTit{
    font-size: 12vw;
    text-align: center;
    margin: 5vw;
    margin-bottom: 0vw;
    font-weight: 800;
}
.indiDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vw;
    margin-left: 16vw;
    margin-right: 16vw;
    /* border: solid 2px red; */

}
.indiImg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2vw;
}

.indiDiv img{
    width: 180vw;
}

.ofaInfo{
    padding: 3.1vw;
    margin-left: 2vw;
    /* border-radius: 50px;
    background-color: #1c2841;
    box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.256); */
    /* border: solid 2px white; */
}

.ofaInfo h1{
    font-size: 2vw;
    font-weight: 700;
}
.ofaInfo h6{
    margin-top: -8vw;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.768);
}
#ofaAlert{
    margin-top: 1.5vw;
    font-size: 1vw;
    color: rgb(231, 36, 36);
}

.carouselDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ceaa77;
    padding: 2vw;

}
.carousel .slide{
    height: 60vh;
    width: 10vw;
}
.chartSize{
    width: auto;
    
}
.indiInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vw;
    
}
.i{
    width: 40vw;
    /* border: white solid 4px; */
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(255,255,255,0.3);
}
.ii{
    background-color: #8e734e;
    border-bottom: solid white 0.1vw;
    border-right: solid white 0px;
    padding: 10px;
    font-weight: 800;

    border-radius: 10px 10px 0 0;
}
.ii:hover{
    background-color: #b49364;
}
.iii{
    background-color: #122620;
    padding: 15px;
    padding-top: 0.7vw;
    color: white;
    border-bottom: white 5px solid;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
}
#gongNeng{
    font-size: 3.8vw;
    font-weight: 800;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

/* returns */
.returns{
    margin-top: -7vw;
    margin-bottom: 2vw;
}
.aboutusDiv1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.statement1{
    color: #192338;
    font-weight: 600;
    text-align: center;
}
.returnsimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.3vw;
}
.stateCard1{
    border-radius: 5vw;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 4px 16px 0 rgba(255,255,255,0.3);
    margin: 12px;
    padding: 2vw;
}
.stateCard1 h3{
    font-size: 30px;
}
.stateCard1 h1{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    color: #192338;
}
.stateCard1 img{
    width: 250px;
    margin-bottom: 20px;
    margin-top: 0px;
}
#tsmc{
    margin-top: 10px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
.ofaInfo h6{
    font-size: 3.2vw;
}
#ofaAlert{
    font-size: 2.8vw;
    margin-bottom: 4vw;
}
.carouselDiv{
    flex-direction: column;
}
.carousel .slide{
    height: 35vh;
}
#gongNeng{
    text-align: center;
    font-size: 7vw;
    margin-left: 0vw;
    margin-top: -1vw;
}
.i{
    width: 92vw;
    margin-bottom: 1.2vw;
}
.indiDiv{
    margin-bottom: 0vw;
    margin-left: 8vw;
    margin-right: 8vw;
}
.returns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.aboutusDiv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stateCard1{
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
}
.stateCard1 img{
    width: 700px;
    margin: 200px;
    margin-bottom: 20px;
    margin-top: 0px;
}
#tsmc{
    margin-top: 10px;
    margin-bottom: 20px;
}
}